<div class="container-fluid home-page">

  <main class="container welcome pt-5">
    <div class="row">

      <div class="col-md-4">
        <h1 class="mb-4 text-right"><strong>Go ahead we will make your day</strong></h1>
        <p class="text-right">Theatre43, movies on the big screen <strong>Like it should be!</strong></p>

        <div class="row text-center">

          <div class="col-md-5">
            <button class="btn btn-outline-light learnMoreBtn my-3 py-2" routerLink="/register">GET STARTED</button>
          </div>

          <div class="col-md-7">
            <button class="btn btn-outline-light learnMoreBtn my-3 py-2" routerLink="/about">LEARN MORE</button>
          </div>

        </div>
      </div>

      <div class="col-md-6" id="movie">
        <img id="movie_svg" src="assets/images/movie.svg" alt="movie">
      </div>
    </div>

  </main>

</div>
