<br>
<br>
<div class="home-page">
    <div class="home-page">
        <main>
            <div class="container-fluid welcome pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="mb-4 text-right"><strong>Go ahead we will make your day</strong></h1>
                            <p class="text-right">Theatre43, movies on the big screen <strong>Like it should be!</strong></p>

                            <div class="row text-center">

                                <div class="col-md-5">
                                <button class="btn btn-outline-light learnMoreBtn my-3 py-2" routerLink="/register">GET STARTED</button>
                                </div>
                
                                <div class="col-md-7">
                                <button class="btn btn-outline-light learnMoreBtn my-3 py-2" routerLink="/about">LEARN MORE</button>
                                </div>
                
                                <img id="circle_greeny" src="assets/images/circle-greeny.svg" alt="">
                                <img id="circle_grey" src="assets/images/circle-grey.svg" alt="">
                                <img id="circle_grey2" src="assets/images/circle-grey.svg" alt="">
                            </div>
                        </div>
        
                        <div class="col-md-6 pl-5" id="movie">
                            <img id="movie_svg" src="assets/images/movie.svg" alt="movie">
                            <!-- <img id="circle_greeny_doctor" src="assets/images/circle-greeny.svg" alt=""> -->
                            <img id="circle_grey_doctor" src="assets/images/circle-grey.svg" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </main>

        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <hr>
        </div>

    </div>
</div>