/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/solid.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/brands.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css'; // WHEAT hex code- f5deb3

body,
html {
  margin: 0!important;
  padding: 0;
  scroll-behavior: smooth;
  background: #121212;
  color: #fff6;
  letter-spacing: 1px!important;
}

body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden!important;
}

::selection {
  color: #fff6;
  background-color: #f1f1f1!important;
}

.container-fluid {
  padding: 0;
}
