.list-wrap {
  overflow-x: hidden!important;
  margin-bottom: 50px;

  h3 {
    font-size: 1.4rem;
    color: #f5deb3;
    margin-bottom: 0;
    position: relative;
    top: 15px;
  }

  .scroll-btns {
    display: flex;
    justify-content: flex-end;

    .btn-left {
      color: #f5deb3;
      background-color: transparent;
      border: 1.5px solid #f5deb3;
      font-size: 1.2rem;
      border-radius: 50%;
      padding: 10px 18px;
      margin-right: 20px;

      &:hover {
        background-color: #f5deb3;
        color: #121212;
      }

      i {
        text-align: center;
      }
    }

    .btn-right {
      color: #f5deb3;
      background-color: transparent;
      border: 1.5px solid #f5deb3;
      font-size: 1.2rem;
      border-radius: 50%;
      padding: 10px 18px;

      &:hover {
        background-color: #f5deb3;
        color: #121212;
      }

      i {
        text-align: center;
      }
    }
  }

  .movie-listing {
    overflow-x: scroll;

    .col-md-2 {
      padding: 0;
      position: relative;
      overflow-x: visible;
    }

    .youtube-frame {
      position: absolute;
      top: 0;
      left: -70px;
      z-index: 100;
      width: 400px;
      background-color: #454242;
      border-radius: 20px;

      iframe {
        width: 100%;
        height: 240px;
      }

      p {
        color: #fff;
        margin: 10px;
        font-size: 14px;
      }
    }

    .col-md-2:first-child {
      .youtube-frame {
        position: absolute;
        right: auto;
        left: 20px!important;
      }
    }

    mat-card {
      background: transparent;
      color: #fff;
      margin: 15px 0;
      font-family: 'Quicksand', sans-serif!important;
      cursor: pointer;

      .basic-info {
        margin-top: 10px;

        i {
          font-size: 0.8rem;
          color: #f5deb3!important;
          padding-right: 5px;
          vertical-align: middle;
        }

        span {
          color: #fff9;
          font-size: 0.86rem;
          vertical-align: middle;
          font-weight: 600;
          text-align: center;
        }
      }

      h4 {
        font-size: 1rem;
        color: #fff;
        min-height: 40px;
        margin-top: 10px;
        margin-bottom: 0;
      }

      img {
        padding: 0;
        width: 100%!important;
        height: auto;
        border-radius: 20px;
        border: 1px solid #151515;
      }

      button {
        margin-left: 25px;
        background: #f5deb3;
      }

      button:hover {
        background: #000;
        color: #f5deb3;
      }
    }
  }

  .movie-listing::-webkit-scrollbar {
    display: none;
  }
}
