.container {
    margin-top: 100px;
}
img {
    padding: 15px;
    width: 250px;
    height: 250px;
}

.row {
    overflow-x: scroll;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
}

button {
    margin-left: 25px;
    background: wheat;
}

button:hover {
    background: #000;
    color: wheat;
}

mat-card {
    background: #161616;
    color: #000;
    width: auto;
    margin: 15px;
}

mat-card:hover{
    color: #000;
}

mat-card-header {
    background: #0f0f0f;
    color: #000;
}

mat-card-header:hover h4 {
    color: #000;
}